<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./parties/header.ejs") %>
    <title>Landing page</title>
    <link rel="stylesheet"  href="css/div.css">
  </head>
  <body>
    <header id="header"> <%- include("./parties/head.ejs") %> </header>
    <div id="columna_de_juegos">
      <% results.map(({ juego, id, img }) => { %> <% if(!img) { %>
      <p> Caratula no agreagada </p>
      <% } else { %>
      <div>
        <img src="<%= img %>" alt="Caratula no agregada" style="width: 200px" />
        <form method="POST" action="/d/<%= id %>?_method=DELETE">
          <button type="submit">Eliinar</button>
        </form>
        <p> <%- juego %> </p>
      </div>
      <% } %> <% }) %>
    </div>
  </body>
</html>
