<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./parties/header.ejs") %>
    <title>Landing page</title>
    <link rel="stylesheet" href="css/div.css" />
  </head>
  <body>
    <header id="header"><%- include("./parties/head.ejs") %></header>
    <div id="columna_de_juegos">
      <% results.map(({ game, uuid_FRONT_END, image }) => { %> <% if(!image) {
      %>
      <p>Caratula no agreagada</p>
      <% } else { %>
      <div>
        <p><%- game %></p>
        <img src="<%= image %>" alt="Caratula no agregada" />

        <div id="boton_editar-crear">
          <form
            method="POST"
            action="/eliminar/<%= uuid_FRONT_END %>?_method=DELETE"
          >
            <button type="submit">Eliminar</button>
          </form>

          <a href="/editar/<%= uuid_FRONT_END %>">Editar</a>
        </div>
      </div>
      <% } %> <% }) %>
    </div>
  </body>
</html>
